<div class = "container">
<h2>Survey Form (Reactive Form)</h2>
<form [formGroup]="surveyForm" (ngSubmit)="onSubmit()">
  <div class="form-group">
    <label class="center-block">Email:
      <input class="form-control" formControlName="email">
    </label>
  </div>
  <div formGroupName="times" class="well well-lg">
  <h3>Please rate the following times from best (1) to worst (4)</h3>
  <div class="form-group">
    <label class="center-block">Monday/Wednesday 10:10am-Noon. <span class = "text-success"> Your rating: {{option1Rating}}</span>
      <select class="form-control" formControlName="option1" id="option1select" (change)="onChange($event)">
        <option *ngFor="let rate of ratings" [value]="rate">{{rate}}</option>
      </select>
    </label>
  </div>
  <div class="form-group">
    <label class="center-block">Tuesday 6:00pm-9:00pm. <span class = "text-success"> Your rating: {{option2Rating}}</span>
      <select class="form-control" formControlName="option2" id="option2select" (change)="onChange($event)">
        <option *ngFor="let rate of ratings" [value]="rate">{{rate}}</option>
      </select>
    </label>
  </div>
  <div class="form-group">
    <label class="center-block">Wednesday 6:00pm-9:00pm. <span class = "text-success"> Your rating: {{option3Rating}}</span>
      <select class="form-control" formControlName="option3" id="option3select" (change)="onChange($event)">
        <option *ngFor="let rate of ratings" [value]="rate">{{rate}}</option>
      </select>
    </label>
  </div>
  <div class="form-group">
    <label class="center-block">Tuesday/Thursday 10:10am-Noon. <span class = "text-success"> Your rating: {{option4Rating}}</span>
      <select class="form-control" formControlName="option4" id="option4select" (change)="onChange($event)">
        <option *ngFor="let rate of ratings" [value]="rate">{{rate}}</option>
      </select>
    </label>
  </div>
  </div>
  <button type="submit" [disabled]="surveyForm.pristine" class = "btn btn-success">Submit</button>
  <button type="button" (click)="onReset()" [disabled]="surveyForm.pristine" class = "btn btn-danger">Reset</button>
</form>

<!-- This code is used to show values on the page in real time to help with testing

<p>Form value: {{ surveyForm.value | json }}</p>
<p>Form status: {{ surveyForm.status | json }}</p> 

--> 
</div>