<div class="container">
  <h1>Survey Form</h1>
  <form  #surveyForm="ngForm">
    <div class="form-group">
      <label for="email">Email</label>
      <input type="text" class="form-control" id="email" name="email" required >
    </div>

    <div class="form-group">
      <h3>Please rate the following times from best (1) to worst (4)</h3>
      
      <select class="option1" name="option1select" id="option1select" (change)="onChange($event, options)" required>
        <option value="default" id="option1">Choose Preference</option> 
        <option *ngFor="let option of options, let i = index" value = {{i}}>{{option}}</option>
      </select><label for="option1">{{classTimes[0]}}</label><br>
      
      <select class="option2" name="option2select" id = "option2select" (change)="onChange($event, options)" required>
        <option value="default" id="option2">Choose Preference</option> 
        <option *ngFor="let option of options, let i = index" value = {{i}}>{{option}}</option>
      </select><label for="option2">{{classTimes[1]}}</label><br>
      
      <select class="option3" name="option3select" id="option3select" (change)="onChange($event, options)" required>
        <option value="default" id="option3">Choose Preference</option> 
        <option *ngFor="let option of options, let i = index" value = {{i}}>{{option}}</option>
      </select><label for="option3">{{classTimes[2]}}</label><br>
      
      <select class="option4" name="option4select" id="option4select"(change)="onChange($event, options)" required>
        <option value="default" id="option4">Choose Preference</option> 
        <option *ngFor="let option of options, let i = index" value = {{i}}>{{option}}</option>
      </select><label for="option4">{{classTimes[3]}}</label><br>
    </div>

    <button type="submit" class="btn btn-success">Submit</button>
    <button type="reset" class="btn btn-success" (click)="onReset()">Reset</button>

  </form>
</div>